/*******************************
           Variations
*******************************/

.ui.small.breadcrumb {
  font-size: 0.75em;
}
.ui.large.breadcrumb {
  font-size: 1.1em;
}
.ui.huge.breadcrumb {
  font-size: 1.3em;
}
